@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.project-preview-sandpack .sp-wrapper {
  height: 100%;
  border: 0 !important;
}

.project-preview-sandpack .sp-layout {
  height: 100%;
  border: 0 !important;
  background: transparent !important;
}

.project-preview-sandpack .sp-stack {
  height: 100%;
}

.project-preview-sandpack .sp-editor {
  border: 0 !important;
}

.project-preview-sandpack .sp-preview-container {
  border: 0 !important;
}
